
.contact_img{
    position: relative;
    }
.contact_img_foreground{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #024c86;
    background-color: rgba(0, 0, 0, 0.4);
    /* opacity: 0.5; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.company_profile{
    display: flex;
    /* margin-bottom: 80px; */
}
.company_profile img{
    width: 40%;
    height: 30%;
}
.company_profile p{
    width: 60%;
}
.underline{
    width: 100%;
    height: 2px;
    background-color: #000;
}


@media screen and (max-width:480px) {
    .contact_img img{
        height:30vh;
    }
    .company_profile{
        display: flex;
        flex-direction: column;
        /* margin-bottom: 80px; */
    }   
    .company_profile img{
        width: 90%;
        margin: 10px auto;
        height: 50%;
    }
    .company_profile p{
        width: 100%;
        text-align: justify;
        
    }
    .row{
        flex-direction: column;
    }
    .card{
        margin: 10px 0px;
        padding: 0px 0px;
    }
}

@media screen and (max-width:1024px) and (min-width:480px){
    .company_profile{
        display: flex;
        flex-direction: column;
        /* margin-bottom: 80px; */
    }   
    .company_profile img{
        width: 50%;
        margin: 10px auto;
        height: 50%;
    }
    .company_profile p{
        width: 100%;
        text-align: justify;
        
    }
    .row{
        flex-direction: column;
    }
    .card{
        margin: 10px 0px;
        padding: 0px 0px;
    }
}